#employyeTable{
    width:100%;    
}

#header{
    margin-top: 60px;
}

#idLabel{
    margin-top: 70px;
}

#submitButton{
    margin-top: 20px;
}

td {
    margin-top: 15px;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.titleRow{
    background-color: #989493;
}

.bodyRow{
    background-color: #00a1ff;
}
